@use "../libs/normalize" as n;
@use "../variables";
@use "sass:color";

.categories {
  ul {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 1300px) {
      justify-content: center;
    }

    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include n.noselect();

      &:hover {
        background-color: color.adjust(#f9f9f9, $lightness: -2%);
      }

      &:active {
        background-color: color.adjust(#f9f9f9, $lightness: -5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}
